#!/bin/bash

set -euo pipefail

{{- if eq .chezmoi.os "darwin" }}
read -p 'Install homebrew:'

if [[ ! -x "/opt/homebrew/bin/brew" ]]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --file="$HOME/.homebrew/Brewfile"
{{- end }}

if [[ ! -x "$HOME/.local/bin/mise" ]]; then
  curl -fsSL https://mise.run | sh
fi
