#!/bin/bash

set -euo pipefail

# Homebrew
{{- if eq .chezmoi.os "darwin" }}
read -p 'Install homebrew:'

if [[ ! -x "/opt/homebrew/bin/brew" ]]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

/opt/homebrew/bin/brew bundle --file="${XDG_CONFIG_HOME:-$HOME/.config}/homebrew/Brewfile"
{{- end }}

# Mise
if [[ ! -x "$HOME/.local/bin/mise" ]]; then
  curl -fsSL https://mise.run | sh
fi

"$HOME/.local/bin/mise" -C "$HOME" install

# yazi
if command -v ya >/dev/null; then
  ya pkg install
fi
